appnope==0.1.4
argcomplete==3.2.2
asttokens==2.4.1
attrs==23.2.0
Babel==2.12.1
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
bleach==6.1.0
bracex==2.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.2
cssselect==1.2.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
docopt==0.6.2
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.12.2
ghp-import==2.1.0
idna==3.4
ifaddr==0.2.0
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
lxml==4.9.3
Markdown==3.4.4
markdown2==2.4.10
MarkupSafe==2.1.3
matplotlib-inline==0.1.7
mendel-development-tool==1.5.2
mergedeep==1.3.4
mistune==3.0.2
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-gitbook==0.0.1
mkdocs-material==9.2.5
mkdocs-material-extensions==1.1.1
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
numpy==1.26.3
packaging==23.1
paginate==0.5.6
pandocfilters==1.5.1
paramiko==3.2.0
parso==0.8.4
pathspec==0.11.2
pexpect==4.9.0
pickleshare==0.7.5
pip==24.0
pipreqs==0.5.0
platformdirs==3.6.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.16.1
pymdown-extensions==10.2
PyNaCl==1.5.0
pyquery==2.0.0
python-dateutil==2.8.2
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==26.0.3
readtime==3.0.0
referencing==0.35.1
regex==2023.8.8
requests==2.31.0
rpds-py==0.18.1
setuptools==69.0.2
six==1.16.0
soupsieve==2.4.1
stack-data==0.6.3
tabulate==0.9.0
tinycss2==1.3.0
tornado==6.4
traitlets==5.14.3
urllib3==2.0.4
virtualenv==20.23.1
watchdog==3.0.0
wcmatch==8.5
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.42.0
yarg==0.1.9
zeroconf==0.71.4
